::ng-deep .project-container {
        .img-logo {
            min-width: 70px;
            border-radius: 10px;
        }
        mat-expansion-panel-header {
            min-height: 71px!important;
        }
}

.create-user {
    margin-bottom: 15px;
}
::ng-deep .user-container {
    .user-details {
        margin-left: 15px;
    }
}
::ng-deep .user-container .mat-card-header-text {
    background-color: #ebf9fc;
    margin: -16px 0px 10px -16px;
    padding: 6px 25px;
    .mat-card-title{
        font-size: 15px;
        margin-bottom: 0px;
    }
}
mat-form-field {
    margin-right: 30px;
}
::ng-deep .user-container .expansion-container {
    padding: 10px;
    mat-expansion-panel-header {
        mat-panel-title {
            &.mat-expansion-panel-header-title:nth-child(2) {
                flex: 0.5 !important;
            }
        }
        
    }
}