<div class="side-nav">
  <ul class="side-nav-list">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Dashboard.png" >
        Dashboard
      </a>
    </li>
     <li>
      <a routerLink="/dashboard/property" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Dashboard.png" >
        Property
      </a>
    </li>
   
    <!-- <div *ngIf="coreViewOnly" >
      <div *ngFor="let feature of access">
        <li class="side-nav-div">
          <a routerLink="/dashboard{{feature.rules[0].resources}}" routerLinkActive="active">
            <img class="side-nav-icon-size" src="assets/images/icons{{feature.rules[0].resources}}.png" >
            <p>{{feature._featureId.name}}</p>
          </a>
        </li>
      </div>
    </div>

    <div *ngIf="superadminAccess" >
      <div *ngFor="let feature of allAccess">
        <li class="side-nav-div">
          <a routerLink="/dashboard{{feature.resources}}" routerLinkActive="active">
            <img class="side-nav-icon-size" src="assets/images/icons{{feature.resources}}.png" >
            <p>{{feature.name}}</p>
          </a>
        </li>
      </div>
    </div> -->

  </ul>
  <!-- <li class="side-nav-div">
      <a routerLink="/dashboard/home" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Dashboard.png" >  
      </a>
    </li> -->

  <div class="logo_div">
    <img class="logo" src="assets/images/logos/Briclay.png" >
  </div>

</div>