  :host {
    #login-head {
      .main-head {
        padding: 5px;
        height : 45px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
        .tittle{
          position: relative;
          top: 10%;
          left: 50%;
          transform: translateY(-50%);
          font-size: 30px;
          color : gray;
        }
      }
      .title-div {
        background-color :  #00aff0;
        height : 45px;
      }
    }
    #login {
      flex-direction : row;
      overflow: auto;
      background-color : white!important;
      width: 100%;
      background-size: cover;
      height:100vh;

      #login-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;
        #login-form {
          padding: 32px;
          background-color : white;
          text-align: center;
          .inputBoxShadow {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
            border-radius: 10px;
            place-content: space-around;
          }
          .logo_div {
            position: fixed;
            bottom: 0;    
            left: 0;
            font-size: 10px;
            margin-bottom: 10px;
          }
          .logo_bri {
            height: 20px;
            width: 75px;
          }

          .logo {
            margin: 22px 15px 0px 5px;
            width: 210px;
            height: 56px;   
          }    
          .logo-row {
            position: relative;
            top: 20px;
            text-align: center;
          }      
          .nameAndPwd {
            margin: 28px 20px 0px 10px;   
          }
          form {
            padding : 7%;
            width: 100%;
            text-align: center;
            mat-form-field {
              width: 384px;
              height: 45px;
              padding : 5px;
            }
            md-input-container label {
              color: red;
            }
            md-input-container.md-input-focused label {
              color: blue;
            }
            .remember-forgot-password {
              font-size: 13px;
              margin-top: 8px;
              text-align: right;
              .forgot-password {
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 16px;
                color: gray;
                cursor: pointer;
              }
            }
            .submit-button {
              width: 220px;
              margin: 16px auto;
              display: block;
            }
          }
        }
      }
    }
  }

