<div class="expansion-container">
  <h3 class="text-center" *ngIf="!pageItemsData.length"><strong>* No Data Found</strong></h3>
  <mat-accordion>
    <mat-expansion-panel [disabled]="isDisabled" *ngFor="let listData of pageItemsData" [hideToggle]="true">
      <mat-expansion-panel-header >
        <mat-panel-title *ngFor="let option of expansionPanelOptions; let lastIndex = last; let firstIndex =  first" 
          [ngClass]="!lastIndex ? (firstIndex && option.type === 'image' ? 'flex-image' : 'border-right-gray') : ''">
          <div *ngIf="option.type === 'list'; else elseContent" style="width: 100%">
            <div *ngFor="let optionList of option.list; let first = first" class="panel-user">
              <span [ngClass]="first ? 'color_dark_blue font-size-12 font-weight-700':  'color_light_blue font-size-12 '">
                <span [ngClass]="(optionList.isStatus ? 'staus-check ' : '') + parseKey(listData, optionList.key)">{{parseKey(listData, optionList.key)}}</span>
              </span>
              <br/>
            </div>
          </div>
          <ng-template #elseContent>
            <span *ngIf="option.type === 'image'; else labelContent" class="">
              <img [src]="listData[option.key]" class="img-logo"/>
            </span>
            <ng-template #labelContent> 
              <div class="panel-conent">
                <label class="label-title" *ngIf="!option.hideTitle">{{option.title}}</label>
                <br *ngIf="option.display === 'block'" />
                
                <label class="label-value">{{parseKey(listData, option.key)}}</label>
              </div>
            </ng-template>
          </ng-template>
        </mat-panel-title>
        <mat-panel-title *ngIf="isHistory" class="expansion-history" (click)="$event.stopPropagation()">
          <mat-icon (click)="historyClick(listData)">history</mat-icon>
        </mat-panel-title>
        <mat-panel-title *ngIf="isFeature" class="expansion-history" style="margin-right: 20px;">
          <mat-icon (click)="feature(listData)">home</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-widget-container
        [selector]="selectorComponent" [data]="listData" (updateRefresh)="updateRefreshData()"  >
      </app-widget-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>