<div fxFlex=100 fxLayout=column>
  <div fxLayout="row" >
    <mat-card class="header-shadow" style="display: inline;flex :1;height: 15px;">
      <div fxLayout=row style="place-content: space-around;" >
        <div fxLayout=row style="place-content: space-around;" class="hand-cursor">
          <img style="height: 25px;width: 25px;" src="/assets/images/icons/projects_Active.png">
          <a routerLink="/dashboard/projects" style="text-decoration: none;">
            <div class="tab-btn" style="margin-left:10px;" > Projects</div>
          </a>
        </div>
        <div fxLayout=row style="place-content: space-around;" class="hand-cursor">
         <img style="height: 35px;width: 35px;margin-top: -5px;" src="/assets/images/icons/File_Manager_Active.png">
          <a routerLink="/dashboard/file-manager" style="text-decoration: none;">
            <div class="tab-btn" >File Manager</div>
          </a>
        </div>
        <div fxLayout=row style="place-content: space-around;" class="hand-cursor" *ngIf="userDep === 'Design'">
          <img style="height: 25px;width: 25px;" src="/assets/images/icons/Work_Request _active.png">
          <div class="tab-btn" style="margin-left:10px;">Document Checklist</div>
        </div>
        <div fxLayout=row style="place-content: space-around;" class="hand-cursor" *ngIf="userDep === 'Contracts'">
          <img style="height: 20px;width: 20px;" src="/assets/images/icons/work-order-Active.png">
          <a routerLink="/dashboard/work-request" style="text-decoration: none;">
            <div class="tab-btn" >Work Request</div>
          </a>  
        </div>
        <div fxLayout=row style="place-content: space-around;" class="hand-cursor" *ngIf="userDep === 'Contracts'">
          <img style="height: 20px;width: 20px;" src="/assets/images/icons/Work_Request _active.png">  
          <a routerLink="/dashboard/work-order" style="text-decoration: none;">
            <div class="tab-btn" style="margin-left:10px;">Work order</div>
          </a>  
        </div>
      </div>
    </mat-card> 
  </div>
</div>
