.feature_container{
    padding : 20px;
    .title {
        font: 600 15px Roboto,"Helvetica Neue",sans-serif;
        color :#032a57cf;
        border-bottom: #4cacda 1px solid;
        padding : 2%;
    }
    .message {
        font: 400 13px Roboto,"Helvetica Neue",sans-serif;
        color :#032a57cf; 
    }
    ::ng-deep .mat-checkbox-checkmark-path {
        stroke: white !important;
    }

    ::ng-deep  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
        .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #00aff0;
        }

}