<!--   <div class="feature_container">
    <div class="title">Features</div>
    <div>
      <div style="margin-top: 6%;" >
        <div *ngFor="let feature of allFeatures">
          <div fxLayout=row >
            <div class="flex-1">
              <div>
                <mat-checkbox *ngIf="feature.check"
                  [(ngModel)]="feature.activeFlag" >
                </mat-checkbox>
                <span class="message" style="margin-left: 10px;">{{feature.name}}</span>
              </div>
            </div>
            <div  class="flex-1" *ngFor="let permission of feature.rules[1].permissions">
                <mat-checkbox 
                  [(ngModel)]="permission.defaultFlag" *ngIf="!feature.hidePermissions">
                </mat-checkbox>
                <span class="message" *ngIf="!feature.hidePermissions">{{permission.userKey}}</span>
            </div>
          </div>
         </div>
      </div>
      <div class="pull-right">
        <button mat-raised-button type="submit" (click) ="onCancel()" class="pull-right margin-10">Cancel</button>
        <button mat-raised-button type="submit" (click)="saveFeature()" class="pull-right margin-10" >Save</button>
      </div>
    </div>
  </div>
 -->